@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

#header {
  text-align: center;
  font-size: 5rem;
}

/* Quiz Area */

#quiz-container {
  width: 50rem;
  background-color: #C2C2C2;
  padding: 5px;
  width: 85vw;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
}

.answers-grid {
  display: grid;
  margin: 10px;
  gap: 10px;
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

#cat-image {
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
}

/* Buttons/Controls */

button {
  font-family: inherit;
  background-color: #87CEEB;
  border-radius: 5px;
  font-size: 25px;
  border: 1px solid #000;
}

.btn:hover {
  border: 2px solid #101eda;
}

#start-btn {
  height: 6rem;
  font-size: 4rem;
}

#submission {
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

#username {
  height: 2rem;
  font-size: 25px;
}