@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: #EBEBEB;
}

.center-margin {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

#header {
  font-size: 5rem;
  color: #000;
}

#hero-image {
  background: url('../images/hero-image.png') no-repeat center center;
  height: 11rem;
  width: 100vw;
}

/* Quiz Area */

#quiz-container {
  width: 50rem;
  background-color: #707070;
  padding: 5px;
  width: 85vw;
  max-width: 50rem;
  border-radius: 10px;
  font-size: 25px;
}

#answers-grid {
  display: grid;
  margin: 10px;
  gap: 10px;
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

#cat-image {
  font-size: 4rem;
}

/* Buttons/Controls */

button {
  font-family: inherit;
  background-color: #87CEEB;
  border-radius: 5px;
  font-size: 25px;
  border: 2px solid #101EDA;
}

#start-btn {
  height: 6rem;
  font-size: 4rem;
}

#choice-a {
  background-color: #D8464B;
  border: 2px solid #871D20;
}

#choice-b {
  background-color: #DF9A57;
  border: 2px solid #89521A;
}

#choice-c {
  background-color: #D9FFF5;
  border: 2px solid #6B8F71;
}

#submission {
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

#username {
  height: 2rem;
  font-size: 25px;
}

#cat-image {
  color: #009CB8;
}

/* media queries */

@media screen and (max-width: 1200px) {

  #header {
    font-size: 3rem;
  }

  #quiz-container {
    font-size: 20px;
  }

  #start-btn {
    font-size: 40px;
  }

}

@media screen and (max-width : 600px) {

  #quiz-container {
    font-size: 16px;
  }

  #answers-grid {
    width: 65vw;
  }

  #cat-image {
    font-size: 40px;
  }

  .btn {
    font-size: 15px;
  }

  #hero-image{
    height: 5rem;
    width: 100vw;
    background-size: contain;
    margin-bottom: 10px;
  }

  #username {
    height: 1rem;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: grid;
  }
  
}